html, body {
    font-family: inter, sans-serif;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

.continer {
    max-width: 1560px;
    padding: 0 15px;
    margin: 0 auto;
}

/* ------------------------------- */
.header__top {
    margin-top: 22px;
    margin-bottom: 13px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    margin-left: auto;
    margin-right: 49px;
}

.header__nav-list {
    display: flex;
}

.header__nav-link {
    white-space: nowrap;
    transition: all .3s;
}

.header__nav-link:hover {
    color: #7ECAEB;
}

.header__nav-item {
    margin-right: 36px;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    color: #676767;
}

.header__nav-item:last-child {
    margin-right: 0px;
}

.header__phone-nav span {
    display: block;
    position: relative;
    padding-left: 35px;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
}

.telegram img:hover {

    box-shadow: 0 0 0 12px rgba(32, 66, 218, 0.12);
    border-radius: 50%;
    transition: all .5s;
}

.whatsapp img:hover {

    box-shadow: 0 0 0 12px rgba(46, 151, 102, 0.12);
    border-radius: 50%;
    transition: all .5s;
}

.header__phone-nav {
    transition: all .3s;
}

.header__phone-nav:hover {
    color: #7ECAEB;
}

.header__phone-nav::before {
    content: "";
    display: block;
    position: absolute;
    background: url("../img/mini/phone.svg") no-repeat;
    width: 28px;
    height: 26px;
}

.header__phone-link {
    display: flex;
    align-items: center;
    margin-left: 52px;
}

.header__phone-item {
    margin-right: 29px;
}

.header__phone-item:last-child {
    margin-right: 0;
}

/* ----------------------------------- */
.header__body-inner {
    display: flex;
    flex-direction: column;
}

.header__body {
    background: url("../img/back/Rectangle\ 2.png") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 1440px;
    width: 100%;
    height: 800px;
}

.header__title {
    display: flex;
    margin-top: 150px;
    width: 671px;
    height: 344px;
    font-weight: 800;
    font-size: 64px;
    line-height: 135%;
    align-items: center;
    color: #fff;
}

.header__btn--box {
    margin-top: 53px;
    margin-right: 36px;
}

.header__btn--box:last-child {
    margin-right: 0px;
}

.button {
    display: inline-block;
    width: 220px;
    height: 51px;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    padding: 12px 20px;
    color: #fff;
    border-radius: 18px;
    background: #35D648;
    white-space: nowrap;
    transition: all .3s;
}

.empty {
    padding: 12px 37px;
    background-color: transparent;
    border: solid 2px #35D648;
    color: #35D648;
}

.button:hover {
    transform: scale(1.05);
}

/* ---------------------------------------- */

.main__why {
    background-color: #7ECAEB;
}

.why__inner {
    display: flex;
    align-items: center;
}

.why__title {
    margin-left: 70px;
    margin-right: 30px;
}

.why__text {
    width: 221px;
    font-weight: 600;
    font-size: 40px;
    line-height: 135%;
    color: #fff;
    margin-bottom: 28px;
}

.why__we {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.why__we-item {
    position: relative;
    margin-right: 75px;
    margin-top: 99px;
    border-radius: 10px;
}

.file {
    position: relative
}

.file::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 461px;
    height: 239px;
    background: url("../img/mini/Vector\ 9.svg");
    top: -25px;
    left: 0;
}

.file::after {
    content: " ";
    display: inline-block;
    width: 76px;
    height: 79px;
    background-image: url("../img/mini/file\ 1.png");
    background-size: 100%;
    margin-right: 10px;
}

.file::after {
    position: relative;
    top: -292px;
    left: 67px;
}

.shield {
    position: relative
}

.shield::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 461px;
    height: 239px;
    background: url("../img/mini/Vector\ 9.svg");
    top: -25px;
    left: 0;
}

.shield::after {
    content: " ";
    display: inline-block;
    width: 83px;
    height: 79px;
    background-image: url("../img/mini/shield\ 1.png");
    background-size: 100%;
    margin-right: 10px;
}

.shield::after {
    position: relative;
    top: -292px;
    left: 62px;
}

.service {
    position: relative
}

.service::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 461px;
    height: 239px;
    background: url("../img/mini/Vector\ 9.svg");
    top: -25px;
    left: 0;
}

.service::after {
    content: " ";
    display: inline-block;
    width: 64px;
    height: 70px;
    background-image: url("../img/mini/service\ 1.png");
    background-size: 100%;
    margin-right: 10px;
}

.service::after {
    position: relative;
    top: -289px;
    left: 65px;
}

.prof {
    position: relative
}

.prof::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 461px;
    height: 239px;
    background: url("../img/mini/Vector\ 9.svg");
    top: -25px;
    left: 0;
}

.prof::after {
    content: " ";
    display: inline-block;
    width: 76px;
    height: 62px;
    background-image: url("../img/mini/professional-services\ 1.png");
    background-size: 100%;
    margin-right: 10px;
}

.prof::after {
    position: relative;
    top: -292px;
    left: 67px;
}

.why__we-item:last-child {
    margin-top: 0;
    margin-right: 0;
}

.why__we-item:nth-child(2) {
    margin-right: 0;
}

.why__we-item:nth-child(3) {
    margin-top: 0;
}

.why__content-title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 30px;
    line-height: 152%;
}

.why__content-text {
    color: #FFFFFF;
    width: 414px;
    font-weight: 500;
    font-size: 25px;
    line-height: 152%;
}

.why__we-content {
    padding: 23px 13px 45px 31px;
}

/* ------------------------------- */
.transport {}

.transport__inner {}

.transport__title {
    margin-top: 53px;
}

.transport__text {
    font-weight: 800;
    font-size: 40px;
    line-height: 135%;
    text-align: center;
    color: #2AA7FF;
}

.transport__img {
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: end;
    
}
.transport__img .image1 {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.transport__img .image2 {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 2;
}

.transport__img .image3 {
    position: absolute;
    top: 0;
    left: 0px;
    z-index: 3;
}

.image1 {
}

.image2 {
    top: 0;
    left: 10px;

}
.image3 {
}


.transport__bigbus {}

.transport__secondbus {}

.transport__lastbus {}

.transport__class {}