.header__top {
    padding-top: 13px;
    padding-bottom: 13px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    margin-right: 30px;
}
.header__nav {
    margin-left: auto;
    margin-right: 49px;
}

.header__nav-list {
    display: flex;
}

.header__nav-link {
    white-space: nowrap;
    transition: all .3s;
}

.header__nav-link:hover {
    color: #7ECAEB;
}

.header__nav-item {
    margin-right: 36px;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    color: #676767;
}

.header__nav-item:last-child {
    margin-right: 0px;
}

.header__phone-nav span {
    display: block;
    position: relative;
    padding-left: 35px;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
}

.telegram img:hover {

    box-shadow: 0 0 0 12px rgba(32, 66, 218, 0.12);
    border-radius: 50%;
    transition: all .5s;
}

.whatsapp img:hover {

    box-shadow: 0 0 0 12px rgba(46, 151, 102, 0.12);
    border-radius: 50%;
    transition: all .5s;
}

.header__phone-nav {
    transition: all .3s;
}

.header__phone-nav:hover {
    color: #7ECAEB;
}

.header__phone-nav::before {
    content: "";
    display: block;
    position: absolute;
    background: url("./../../img/mini/phone.svg") no-repeat;
    width: 28px;
    height: 26px;
}

.header__phone-link {
    display: flex;
    align-items: center;
    margin-left: 52px;
}

.header__phone-item {
    margin-right: 29px;
}

.header__phone-item:last-child {
    margin-right: 0;
}

/* ----------------------------------- */
.header__body-inner {
    display: flex;
    flex-direction: column;
}

.header__body {
    background: url("./../../img/back/Rectangle.png") no-repeat;
    background-size: cover;
    background-position: center center;
    width: 1440px;
    width: 100%;
    height: 800px;
}

.header__title {
    display: flex;
    margin-top: 150px;
    max-width: 671px;
    max-height: 344px;
    font-weight: 800;
    font-size: 64px;
    line-height: 135%;
    align-items: center;
    color: #fff;
}

.header__btn--box {
    margin-top: 53px;
    margin-right: 36px;
}

.header__btn--box:last-child {
    margin-right: 0px;
}

.button {
    display: inline-block;
    width: 220px;
    height: 51px;
    font-weight: 600;
    font-size: 20px;
    line-height: 135%;
    padding: 12px 20px;
    color: #fff;
    border-radius: 18px;
    background: #35D648;
    white-space: nowrap;
    transition: all .3s;
}

.empty {
    padding: 12px 37px;
    background-color: transparent;
    border: solid 2px #35D648;
    color: #35D648;
}

.button:hover {
    transform: scale(1.05);
}
.logo_mibile {
    display: none;
}
/* =============================================== */

.mobile_btn {
    display: none;
}
@media (max-width: 1200px) {
    .mobile_btn {
        border-radius: 50%;
        box-shadow: 0 1px 8px #a1a1a1;
        display: block;
        position: fixed;
        right: 25px;
        top: 13px;
        cursor: pointer;
        z-index: 10;
    }
    
    .header__top-inner {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: -100%;
        top: 0;
        bottom: 0;
        width: 40%;
        height: 100vh;
        background-color: #f8f8f8;
        z-index: 10;
        transition: right 1s;
    }
    .active {
        right: 0;
    }
    .header__nav {
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .header__phone-nav {
        display: none;
    }
    .header__phone-link {
        margin-left: 0;
    }
    .header__nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__nav-item {
        margin-right: 0;
        font-size: 30px;
    }
    .header__logo {
        margin-right: 0;
    }
    .logo_mibile {
        display: block;
    }
}
@media (max-width: 700px) { 
    .header__title {
        font-size: 50px;
        max-width: 200px;
    }
    .header__top-inner {
        width: 60%;
    }
}
@media (max-width: 550px) {
    .header__title {
        max-width: 50px;
        font-size: 35px;
    }
    .header__top-inner {
        width: 70%;
    }
}