.sliderblock {
    background-color: #7ECAEB;
}
.colorblue {
    color: #2AA7FF;
}
.sliderblock__inner { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.sliderblock__title {
    color: #fff;
    display: flex;
    font-weight: 500;
    font-size: 30px;
    line-height: 152%;
    max-width: 582px;
    margin-right: 30px;
}
.sliderblock__slider {
    width: 75vh;
}
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-right: 45px;
}
.item:last-child {
    margin-right: 0;
}
@media (max-width: 1030px) {
    .sliderblock__inner {
        display: flex;
        flex-direction: column;
    }
    .sliderblock__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
    .sliderblock__slider {
        padding-bottom: 20px;
    }
    .sliderblock__slider {
        width: 100vh;
    }
}
@media (max-width: 955px) {
    .sliderblock__slider {
        width: 70vh;
    }
}
@media (max-width: 680px) {
    .sliderblock__slider {
        width: 50vh;
    }
}
@media (max-width: 475px) {
    .sliderblock__slider {
        width: 40vh;
    }
}