.footer {
  background-color: #7ECAEB;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 156%;
}

.container {
  display: flex;
  justify-content: space-around;
}

.about__company {
  margin-top: 84px;
}

.footer_contacts {
  margin-top: 45px;
  border: solid;
}

.contact {
}

.icons {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  margin-top: 6px;
}