.contacts {
  position: relative;
  width: 100%;
}

.contacts__title {
  text-align: center;
  margin-top: 46px;
}
.contacts__text {
  font-weight: 800;
  font-size: 40px;
  line-height: 135%;
  text-align: center;
  color: #2AA7FF;
}

.phone_email {
  display: flex;
  font-weight: 600;
  font-size: 30px;
  line-height: 152%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 82px;
}

.social_networks {
  width: 100%;

}
.social_networks_text {
  text-align: center;
  width: 100%;
}

.social_networks_text {
  color: black;
  width: 414px;
  font-weight: 500;
  font-size: 25px;
  line-height: 152%;
  text-align: center;
  width: 100%;
  margin-top: 49px;
}

.icons_contact {
  display: flex;
  width: 100%;
  justify-content: center;
  column-gap: 29px;
  margin-top: 26px;
  margin-bottom: 46px;
}

.telegram_button {

}

.whatsapp_button {

}